<!--
GHOSTS ANIMATOR
Copyright 2020 Carnegie Mellon University.
NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, AS TO ANY MATTER INCLUDING, BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR PURPOSE OR MERCHANTABILITY, EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. CARNEGIE MELLON UNIVERSITY DOES NOT MAKE ANY WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM PATENT, TRADEMARK, OR COPYRIGHT INFRINGEMENT.
Released under a MIT (SEI)-style license, please see license.txt or contact permission@sei.cmu.edu for full terms.
[DISTRIBUTION STATEMENT A] This material has been approved for public release and unlimited distribution.  Please see Copyright notice for non-US Government use and distribution.
Carnegie Mellon® and CERT® are registered in the U.S. Patent and Trademark Office by Carnegie Mellon University.
DM20-0930
-->

@using System.Globalization
@using System.Text
@using Ghosts.Animator.Enums
@using Ghosts.Animator.Models
@model Ghosts.Animator.Api.Infrastructure.Models.NPC

@{
    Layout = null;
}

@functions {

    internal string WriteUnit(MilitaryUnit.Unit unit)
    {
        if (unit == null)
        {
            return string.Empty;
        }
        var sb = new StringBuilder();
        sb.Append("<ul>");
        foreach (var item in unit.Sub)
        {
            sb.Append("<li>");
            sb.Append($"<p>{item.Name} ({item.Type}) {item.Nick}</p>");
            sb.Append($"<p>{item.HQ}</p>");
            sb.Append("</li>");
            foreach (var u in item.Sub)
            {
                sb.Append(WriteUnit(u));
            }
        }
        sb.Append("</ul>");

        return sb.ToString();
    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.Name.ToString()</title>
    <link href="/bootstrap/bootstrap_4.1.1.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/bootstrap/bootstrap_4.1.1.min.js"></script>
    <script src="/bootstrap/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="/bootstrap/bootstrap_4.0.0.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/bootstrap/bootstrap_4.0.0.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/bootstrap_3.3.7.min.css">
    
    <link rel="stylesheet" href="/flags/flags.css">
</head>

<body>

<div class="container bootstrap snippet">
<div class="row">
    <div class="col-sm-10">
        <h1>@Model.Name.ToString()</h1>
    </div>
</div>
<div class="row">
<div class="col-sm-3 sm">
    <!--left col-->
    <div class="text-center">
        <img src="/api/npcs/@Model.Id/photo" class="avatar img-circle img-thumbnail" alt="avatar">
    </div>
    <div class="panel panel-default" style="margin-top:20px">
        <div class="panel-heading">Build Details <i class="fa fa-link fa-1x"></i></div>
        <div class="panel-body">
            <div>Created: @Model.Created.ToShortDateString()</div>
            <div>Campaign: @Model.Campaign</div>
            <div>Enclave: @Model.Enclave</div>
            <div>Team: @Model.Team</div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item text-muted">Accounts <i class="fa fa-dashboard fa-1x"></i></li>
        @foreach (var account in Model.Accounts)
        {
            <li class="list-group-item text-right">
                <span class="pull-left">
                    @account.Username
                </span>@@<strong>@account.Url</strong>
            </li>
        }
    </ul>
</div><!--/col-3-->
<div class="col-sm-9">
<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#home">Home</a>
    </li>
    <li>
        <a data-toggle="tab" href="#car">Education & Career</a>
    </li>
    <li>
        <a data-toggle="tab" href="#it">Insider Threat</a>
    </li>
    <li>
        <a data-toggle="tab" href="#mil">Military Service <img src="/mil/@(Model.Rank.Branch.ToString().ToLower()).png" style="width:12px; height: 12px;"/></a>
    </li>
    <li>
        <a data-toggle="tab" href="#rel">Relationships</a>
    </li>
</ul>
<div class="tab-content">
<hr/>
<div class="tab-pane active" id="home">
    <div class="form-group">
        <div class="col-xs-6">
            <label>
                <h4>First name</h4>
            </label>
            <div class="form-control">
                @Model.Name.First
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6">
            <label>
                <h4>Last name</h4>
            </label>
            <div class="form-control">
                @Model.Name.Last
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-6">
            <label for="first_name">
                <h4>Biological Sex</h4>
            </label>
            <div class="form-control">
                @Model.BiologicalSex
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6">
            <label>
                <h4>Height / Weight</h4>
            </label>
            <div class="form-control">
                @Model.Health.Height"/ @Model.Health.Weight lbs.
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-6">
            <label for="first_name">
                <h4>Blood Type</h4>
            </label>
            <div class="form-control">
                @Model.Health.BloodType
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6">
            <label>
                <h4>Location</h4>
            </label>
            <div class="form-control">
                @Model.Birthdate.ToShortDateString()
            </div>
        </div>
    </div>
    <div class="form-group">

        <div class="col-xs-6">
            <label for="phone">
                <h4>Phone</h4>
            </label>
            <div class="form-control">
                @Model.HomePhone
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-6">
            <label for="mobile">
                <h4>Mobile</h4>
            </label>
            <div class="form-control">
                @Model.CellPhone
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6">
            <label for="email">
                <h4>Primary Email</h4>
            </label>
            <div class="form-control">
                @Model.Email
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6">
            <label for="email">
                <h4>Password</h4>
            </label>
            <div class="form-control">
                @Model.Password
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12" style="margin-top:20px">
            <h3 style="margin-top:0">Addresses</h3>
            @foreach (var item in Model.Address)
            {
                <label>
                    <h4>@item.AddressType</h4>
                </label>
                <div>@item.ToString()</div>
            }
        </div>
    </div>
    <div class="col-xs-12"><h3>Default Workstation</h3></div>
    <div class="form-group">
        <div class="col-xs-12">
            <h4>@Model.Workstation.Name (@Model.Workstation.IPAddress)</h4>
            <p>@Model.Workstation.Username / @Model.Workstation.Domain</p>
        </div>
    </div>
    <div class="col-xs-12"><h3>PGP Key</h3></div>
    <div class="form-group">
        <div class="col-xs-12">
            <h4>@Model.PGP.Email (@Model.PGP.Password)</h4>
            <div><textarea style="width:100%; height: 100px">@Model.PGP.PrivateKey</textarea></div>
            <div><textarea style="width:100%; height: 100px">@Model.PGP.PublicKey</textarea></div>
        </div>
    </div>
    <div class="col-xs-12"><h3>CAC</h3></div>
    <div class="form-group">
            <div class="col-xs-12" style="padding-bottom:30px;">
                <h4>@Model.CAC</h4>
                CAC not on file
            </div>
        </div>
</div>
<div class="tab-pane" id="car">
    <div class="form-group">
        <div class="col-xs-12">
            <h3 style="margin-top:0">Education</h3>
            <ul style="margin-top:20px">
                @foreach (var item in Model.Education.Degrees)
                {
                    <li>
                        @if (item.Level == DegreeLevel.HSDiploma)
                        {
                            <h4>HS Graduate</h4>
                        }
                        else if (item.Level == DegreeLevel.GED)
                        {
                            <h4>GED</h4>
                        }
                        else
                        {
                            <h4>@item.DegreeType in @item.Major</h4>
                        }

                        <p>@item.School.Name (@item.School.Location)</p>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <h3>Employment</h3>
            <ul style="margin-top:20px">
                @foreach (var item in Model.Employment.EmploymentRecords)
                {
                    <li style="padding-bottom: 10px">
                        <h4>@item.Company</h4>
                        <p>@item.JobTitle within @item.Department</p>
                        <p>@item.StartDate.ToShortDateString() - @item.EndDate?.ToShortDateString() (@item.EmploymentStatus)</p>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="tab-pane" id="it">
    <div class="form-group">
        <div class="col-xs-12">
                    <h3>Finances</h3>
                    <ul style="margin-top:20px">
                        @foreach (var item in @Model.Finances.CreditCards)
                        {
                            <li>
                                <p>@item.Number (@item.Type)</p>
                            </li>
                        }
                        <li>Net Worth: @Model.Finances.NetWorth.ToString("C", CultureInfo.GetCultureInfo("en-US"))</li>
                        <li>Total Debt: @Model.Finances.TotalDebt.ToString("C", CultureInfo.GetCultureInfo("en-US"))</li>
                    </ul>
                </div>
        <div class="col-xs-12">
            <h3>Travel</h3>
            <ul style="margin-top:20px">
                @foreach (var item in @Model.ForeignTravel.Trips)
                {
                    <li>
                        <p><span class="flag-icon flag-icon-@item.Code.ToLower()"></span> @item.Destination</p>
                        <p>Arrive Destination: @item.ArriveDestination</p>
                        <p>Depart Destination: @item.DepartDestination</p>
                    </li>
                }
            </ul>
        </div>
        <div class="col-xs-12">
            <label>
                <h3>Insider Threat Events</h3>
            </label>
            <ul>
                @foreach (var item in Model.InsiderThreat.GetAllEvents())
                {
                    <li>
                        <h4>@item.Description</h4>
                        <p>
                            Corrective Action?
                            @if (!string.IsNullOrEmpty(item.CorrectiveAction))
                            {
                                <span>@item.CorrectiveAction</span>
                            }
                            else
                            {
                                <span>Action not taken</span>
                            }
                        </p>
                        <p>
                            Reported by: <a href="#">@item.ReportedBy</a> on @item.Reported
                        </p>
                    </li>
                }
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>Access</h3></div>
        <div class="col-xs-6">
            <label>
                <h4>Explosives Access</h4>
            </label>
            <p>@Model.InsiderThreat.Access.ExplosivesAccess</p>
        </div>
        <div class="col-xs-6">
            <label>
                <h4>Systems Access</h4>
            </label>
            <p>@Model.InsiderThreat.Access.SystemsAccess</p>
        </div>
        <div class="col-xs-6">
            <label>
                <h4>CBRN Access</h4>
            </label>
            <p>@Model.InsiderThreat.Access.CBRNAccess</p>
        </div>
        <div class="col-xs-6">
            <label>
                <h4>Physical Access</h4>
            </label>
            <p>@Model.InsiderThreat.Access.PhysicalAccess</p>
        </div>
        <div class="col-xs-6" style="margin-bottom: 30px;">
            <label>
                <h4>Security Clearance</h4>
            </label>
            <p>@Model.InsiderThreat.Access.SecurityClearance</p>
            <p>
                @if (!Model.InsiderThreat.IsBackgroundCheckStatusClear)
                {
                    <span style="color:red">(Background check not clear)</span>
                }
            </p>
        </div>
    </div>
</div>
<div class="tab-pane" id="mil">
    <div class="form-group">
        <div class="col-xs-12">
            <img src="/mil/@(Model.Rank.Branch.ToString().ToLower()).png" style="width:80px; height: 80px; float: right"/>
            <h3>@Model.Rank.Branch @Model.Rank.Classification</h3>
            <ul style="margin-top:20px">
                <p>@Model.Rank.Name (@Model.Rank.Abbr) @Model.Rank.Pay</p>
                <p>Billet: @Model.Rank.Billet</p>
                <p>MOS: @Model.Rank.MOS</p>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <h3>Assigned Unit</h3>
            <ul style="margin-top:20px">
                @foreach (var item in @Model.Unit.Sub)
                {
                    <li>
                        <p>@item.Name (@item.Type) @item.Nick</p>
                        <p>@item.HQ</p>
                        <ul>
                            @foreach (var item2 in item.Sub)
                            {
                                @Html.Raw(WriteUnit(item))
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="tab-pane" id="rel">
    <div class="form-group">
        <div class="col-xs-12">
            <h3>Family</h3>
                        <ul style="margin-top:20px">
                            @if(!Model.Family.Members.Any())
                            {
                                <span>No family on record</span>
                            }
                            @foreach (var item in @Model.Family.Members)
                            {
                                <li>
                                    <p><a href="#">@item.Name</a> (@item.Relationship)</p>
                                </li>
                            }
                        </ul>
            <h3>Relationships</h3>
            <ul style="margin-top:20px">
                @if (!Model.Relationships.Any())
                {
                    <span>No extended relationships on record</span>
                }
                @foreach (var item in @Model.Relationships)
                {
                    <li>
                        <p>@item.With (@item.Type)</p>
                    </li>
                }
            </ul>
        </div>
        
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>